* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #32CD32;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.App {
  background-color: #141414;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  height: 50px;
  width: 100px;
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="submit"][disabled] {
  cursor: default;
  opacity: 0.3;
}

.btnEdit{
  background-image: url('assets/img/edit.png');
}