* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #00C86F;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --grayDark:#666666;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --background: #141414;
  --greendark1: #0d201c;
  --greendark2: #074A35;
  --greendark3: #005938;
  --greendark4: #01673B;
  --greendark5: #00773F;
  --greendark6: #008642;

}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  height: 50px;
  width: 100px;
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="submit"][disabled] {
  cursor: default;
  opacity: 0.3;
}

.btnEdit{
  background-image: url('assets/img/edit.png');
}

table th, table tr {
  padding: 10px
}

.slick-slide.slick-active div:focus, .slick-slide.slick-active li:focus  {
  outline: none;
}